@using C_C_Proj_WebStore.Utility
@model IEnumerable<Product>

<div class="row pb-3 mb-4">

    <partial name="_Container" />

    @section Scripts {
        <script language="javascript">
            const setListeners = () => {
                $('input[type="checkbox"], #inputPrice, #searchSort, #inputCategory, #inputGender').on('change', sendR);
                $('#buttonID').click(sendR);
            };

            // Handle form submission
            const sendR = () => {

                const price = parseInt($('#inputPrice').val());
                const sort = parseInt($('#searchSort').val());
                const category = $('#inputCategory').val();
                const gender = $('#inputGender').val();
                const srch = $('#searchField').val();

                var minPrice = $('#minPriceRange').val();
                var maxPrice = $('#maxPriceRange').val();

                const brandFilters = $('input[name="brand"]:checked').map((_, el) => $(el).val()).get();
                const sizeFilters = $('input[name="size"]:checked').map((_, el) => parseFloat($(el).val())).get();
                const colorFilters = $('input[name="color"]:checked').map((_, el) => $(el).val()).get();

                $.ajax({
                    url: '@Url.Action("GetFilteredProducts", "Home")',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        brands: brandFilters,
                        sizes: sizeFilters,
                        price: price,
                        color: colorFilters,
                        category: category,
                        gender: gender,
                        sort: sort,
                        s: srch,
                        minPrice: minPrice,
                        maxPrice: maxPrice
                    },
                    success: function (result) {
                        $('#items_root').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            };

            setListeners();

        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script language="javascript">

            function updateMinPriceLabel(value1) {
                document.getElementById('minPriceLabel').textContent = value1;
            }

            function updateMaxPriceLabel(value) {
                document.getElementById('maxPriceLabel').textContent = value;
            }

            // Initialize labels with default range values
            window.onload = function () {
                updateMinPriceLabel(document.getElementById('minPriceRange').value);
                updateMaxPriceLabel(document.getElementById('maxPriceRange').value);
            };

    </script>
    }
</div>