@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-white text-center">Order Placed Successfully</h1>
        You Order Number is : <strong>@Model</strong><br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully!<br />
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough  | align lineheight | checklist numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function appendPercentageSymbol(inputElement) {
            if (!inputElement.value.includes('%')) {
                inputElement.value = inputElement.value + '%';
            }
        }
    </script>
}